<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to add images to reviews.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show nearby monuments.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to allow you to take photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to enable voice features.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to provide personalized services even when the app is in the background.</string>
	<key>NSLocalNotificationUsageDescription</key>
	<string>We need to send you notifications to keep you updated.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.965602038719-lghib2sh7lqner3tddtq8gek0sqatojp</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
